Brandon Scott-Hill <scotthbran@ecs.vuw.ac.nz> <scotthbran@kebabs-on-queen.ecs.vuw.ac.nz> 
Nicholas Snellgrove <snellgnich@ecs.vuw.ac.nz> <nick.snellgrove@xtra.co.nz>
Sean Stevenson <stevensean@ecs.vuw.ac.nz> <sean.stevenson93598@gmail.com>
Kristen Tait <taitkris@ecs.vuw.ac.nz> <taitkris@vuw.ac.nz>