certifi==2018.4.16
chardet==3.0.4
docutils==0.14
idna==2.6
kivy-garden==0.1.4
kivy.deps.glew==0.1.9
kivy.deps.sdl2==0.1.17
kivy==1.10.0
numpy==1.14.2
opencv-python==3.4.0.12
pygments==2.2.0
pypiwin32==223
pywin32==223
requests==2.18.4
urllib3==1.22